@mixin desktop {
  @media (max-width: 12000px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}
